.breadcrumb-con {
    padding: 10px;
}
.breadcrumb {
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
    li {
        font-size: 14px;
        /* padding: 0 12px; */
    }
}
 .menu {
    margin-top: -20px;
    padding: 0;
    background-color: #f2f0eb;
    .nav-link {
        padding: auto 20px;
    }
 }