.breadcrumb-con {
	padding: 10px;
}
.breadcrumb {
	font-family: SoDoSans_Light, Helvetica, sans-serif !important;
	li {
		font-size: 14px;
		/* padding: 0 12px; */
	}
}

.search-list-map-container {
	margin-top: -25px;
	.search-con {
		background-color: #1e3932;
	}
	.gpsOff {
		margin: 0 auto;
	}
	h6 {
		margin-top: 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #000;
	}
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		align-items: center;
		text-align: center;
		color: #000000de;
	}
	button {
		border: 1px solid #00754A;
		border-radius: 32px;
		font-family: SoDoSans_Regular,Helvetica,sans-serif;
		font-weight: 600;
		font-size: 12px;
		color: #00754a;
		background-color: #fff;
		padding: 10px 24px;
		width: 330px;
	}
	.map {
		z-index: 3;
		position: absolute;
		height: 100%;
		width: 100%;
		padding: 0px;
		border-width: 0px;
		margin: 0px;
		left: 0px;
		top: 0px;
		touch-action: pan-x pan-y;
	}
}