* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search {
	border: 1px solid black;
	/* border-radius: 100px; */
}
.search.input {
	border: 0;
	height: auto;
	min-width: 230px;
}
.search.input:focus-visible {
	outline: none;
}
.logo {
	width: 40px;
	height: auto;
}
.nav-link {
	position: relative;
	transition: all 0.2s;
}
.nav-link:focus {
	font-weight: bolder;
}
.nav-link::after {
	content: "";
	opacity: 0;
	transition: all 0.2s;
	height: 2px;
	width: 100%;
	background-color: #00754a;
	position: absolute;
	bottom: 0;
	left: 0;
}
.nav-link:focus::after {
	opacity: 1;
}
body {
	padding-top: 66px;
}
@media screen and (max-width: 992px) {
	body {
		padding-top: 215.5px;
	}
}
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}
.box {
	height: 1000px;
	width: 70%;
}
.rewards {
	font-size: 20px;
}
.know-more {
	font-size: 12px;
	font-weight: bold;
}
.rewards-container {
	background-color: #1e3932;
}
.circle {
	width: 108px;
	height: 108px;
	border-radius: 50%;
}
.circle:hover {
	border: 2px solid #00804c;
}
.handpick-section {
	margin-bottom: 90px;
}
.handpick-section > div > div {
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}
.swiper {
	width: 100%;
	min-height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide1 {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	background-image: url(./Swiper1-Background/b1.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: start;
	min-height: inherit;
}

.img-container {
	height: 218px;
}
.swiper-slide1 img {
	display: block;
	height: 218px;
}
.text p:nth-child(2) {
	font-size: 25px;
	font-weight: 600;
}
.text div:nth-child(4) {
	font-size: 12px;
	font-weight: 600;
}
.text p:nth-child(4) {
	font-size: 15px;
}
.text > p {
	font-size: 15px;
}

.card-body > div {
	text-align: left;
}

.card > img {
	height: 250px;
	object-fit: cover;
}
.swiper-slide2 {
	min-width: 300px;
}
.card-body img {
	height: 20px;
	width: auto;
}
.card-title {
	font-size: 14px;
	font-weight: bold;
}
.card-subtitle {
	font-size: 10px;
}
.card-text {
	font-size: 11px;
}
.price {
	font-size: 14px;
}
.price div {
	font-size: 12px;
}

.Barista-Recommends,
.learn-more {
	background-color: #edebe9;
	position: relative;
}

.Barista-Recommends > img {
	position: absolute;
	top: 0;
	right: 0;
	height: 70px;
	width: 57px;
	z-index: 0;
}

.view-menu {
	font-size: 0.8rem;
	color: #00754a;
	font-weight: 500;
}
.mySwiper3 .swiper-slide {
	width: 300px;
	padding: 20px;
	border-radius: 3%;
}
.mySwiper3 .card-img {
	height: 80px;
	width: 80px;
}

.mySwiper3 .card-body > img {
	height: 16px;
	width: 16px;
}

.mySwiper3 .btn {
	font-size: 12px;
	font-weight: 600;
}

.background {
	background-image: url(./Learn-More-BG/coffee_culture_blog_web1_c6e691b286.jpg);
	background-size: cover;
	height: 372px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.background p {
	font-size: 14px;
}
.background .btn {
	height: 32px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
}
.black {
	background: linear-gradient(
		359.89deg,
		rgba(0, 0, 0, 0.74) 19.45%,
		rgba(0, 0, 0, 0.383063) 55.07%,
		rgba(0, 0, 0, 0) 73.63%
	) !important;
	position: relative;
}
.black:hover {
	background-color: rgba(0, 0, 0, 0.5) !important;
	transition: background-color 0.3s ease;
}
.black > div {
	height: 50%;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
}
