* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search {
	border: 1px solid black;
	/* border-radius: 100px; */
}
.search.input {
	border: 0;
	height: auto;
	min-width: 230px;
}
.search.input:focus-visible {
	outline: none;
}
.logo {
	width: 40px;
	height: auto;
}
.nav-link {
	position: relative;
	transition: all 0.2s;
}
.nav-link:focus {
	font-weight: bolder;
}
.nav-link::after {
	content: "";
	opacity: 0;
	transition: all 0.2s;
	height: 2px;
	width: 100%;
	background-color: #00754a;
	position: absolute;
	bottom: 0;
	left: 0;
}
.nav-link:focus::after {
	opacity: 1;
}
body {
	padding-top: 66px;
}
@media screen and (max-width: 992px) {
	body {
		padding-top: 215.5px;
	}
}
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}
.box {
	height: 1000px;
	width: 70%;
}
.rewards {
	font-size: 20px;
}
.know-more {
	font-size: 12px;
	font-weight: bold;
}
.rewards-container {
	background-color: #1e3932;
}
.circle {
	width: 108px;
	height: 108px;
	border-radius: 50%;
}
.circle:hover {
	border: 2px solid #00804c;
}
.handpick-section {
	margin-bottom: 90px;
}
.handpick-section > div > div {
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}
.swiper {
	width: 100%;
	min-height: 100%;
}


.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide1 {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	background-image: url(./Swiper1-Background/b1.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: start;
	min-height: inherit;
}



.img-container {
	height: 218px;
}
.swiper-slide1 img {
	display: block;
	height: 218px;
}
.text p:nth-child(2) {
	font-size: 25px;
	font-weight: 600;
}
.text div:nth-child(4) {
	font-size: 12px;
	font-weight: 600;
}
.text p:nth-child(4) {
	font-size: 15px;
}
.text > p {
	font-size: 15px;
}

.card-body > div {
	text-align: left;
}

.card > img {
	height: 250px;
    object-fit: cover;
}
.swiper-slide2 {
	min-width: 300px;
}
.card-body img {
	height: 20px;
	width: auto;
}
.card-title {
	font-size: 14px;
	font-weight: bold;
} 
.card-subtitle {
	font-size: 10px;
}
.card-text {
	font-size: 11px;
}
.price {
	font-size: 14px;
}
.price div {
	font-size: 12px;
}