.search {
    border: 1px solid black;
    /* border-radius: 100px; */
}
* {
    padding: 0;
}
.search.input {
    border: 0;
    height: auto;
    min-width: 230px;
}
.search.input:focus-visible {
    outline: none;
} 
.logo {
    width: 40px;
    height: auto;
}
.nav-link {
    position: relative;
    transition: all 0.2s;
}
.nav-link:focus {
    font-weight: bolder;
}
.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #00754a;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:focus::after {
    opacity: 1;
}
body {
    padding-top: 66px;
}
@media screen and (max-width: 992px) {
    body {
        padding-top: 215.5px;
    }
}
#header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.box {
    height: 1000px;
    width: 70%;
}
.rewards {
    font-size: 20px;
}
.know-more {
    font-size: 12px;
    font-weight: bold;
}
.rewards-container {
    background-color: #1e3932;
}